<!DOCTYPE html>
<html>
<head>
  <title>Blocmetrics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body ng-app="blocmetrics" class="member">

  <ul ng-controller="mainCtrl" class="nav nav-tabs navbar-fixed-top">

    <li>
      <%= link_to "BlocMetrics", '#setup', class: 'navbar-brand' %>
    </li>
    <div class="pull-right user-info">
      <div class="btn-group" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Projects
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li ng-repeat="domain in domains" ng-click="goToDomain(domain.id)">
              <a href="">{{ domain.domain }}</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#setup">+ Add Project</a>
            </li>
          </ul>
        </div>
        <%= link_to '#setup', class: 'btn btn-default btn' do %>
        <span class="glyphicon glyphicon-cog"></span>
        <% end %>
        <!-- <%= link_to edit_user_registration_path, class: 'btn btn-default btn' do %>
        <span class="glyphicon glyphicon-user"></span> -->
        <!-- <% end %> -->
        <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-default btn' do %>
        <span class="glyphicon glyphicon-log-out"></span>
        <% end %>
      </div>
    </div>

  </ul>

  <div ng-view class="container main-panel">
  </div>

  <div class="footer">
    BlocMetrics
  </div>

</body>
</html>
